<div class='row'>
	<div class=’'arge-12 small-12 columns'>
		<h1>Whole List</h1>
		<hr />
		<% @posts.each do |p| %>
		  <h2><%= link_to p.title, p %></h2>
		  <p><%= p.body %></p>
		  <hr />
		<% end %>
	</div><!--12--> 
</div><!--row-->
