<div class='row'>
  <div class='large-12 small-12 columns'>
    <h2><%= @post.title %></h2>

    <p><%= @post.body %></p>

    <%= link_to 'Back', posts_path %>
    <%= link_to 'Edit', edit_post_path %>

  </div><!--12-->
</div><!--row-->



